<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<script type="text/javascript" src="../js/hilo.js">
</script>
<style src="../css/styles.css">
</style>
<div th:replace="layouts/header :: headerBody"/>
<span>
    <h3>Foro de consultas</h3>
</span>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Estado</th>
            <th>Consulta</th>
            <th>Sección</th>
            <th>Fecha apertura</th>
            <th>Creado por</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${hilos.empty}">
            <td colspan="2">El foro esta vacio.</td>
        </tr>
        <tr th:each="hilo : ${hilos}">
            <th><span th:text="${hilo.estadoHilo}"></span></th>
            <td><span th:text="${hilo.consulta}"></span></td>
            <td><span th:text="${hilo.tema}"></span></td>
            <td><span th:text="${hilo.fechaCreacion}"></span></td>
            <td><span th:text="${hilo.dniPublicador}"></span></td>
            <td>
                <a id="_idSeeHiloDetails" th:href="@{'/hilos/' + ${hilo.id}}" type="button" class="button btn btn-labeled btn-info"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="_idAddHiloFragment" th:replace="views/hilo/add :: add"/>
<!-- Footer -->
<footer class="footer page-footer font-small special-color-dark pt-4" th:fragment="footer">
    <!-- Footer Elements -->
    <div class="container">
        <!--Grid row-->
        <div class="row" style="float:right" >
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <button id="_idButtonOpenAddHilo" style="width:180px" type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#_idHiloAddModal">
                    <span><i class="fa fa-plus"></i></span>
                    Nueva consulta
                </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Footer Elements -->
</footer>
<!-- Footer -->
</body>
</html>