<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
    <div th:replace="layouts/header :: headerBody"/>
    <h3 style="margin:10px;color:#E5E5E5">Catálogo</h3>
    <table class="table">
        <thead>
            <tr style="color:#E5E5E5">
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Editorial</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${catalogo.empty}">
                <td colspan="2">El catalogo esta vacío.</td>
            </tr>
            <tr th:each="material : ${catalogo}">
                <td>
                    <img th:src="${material.portada}" style="width:100px;height:150px;" alt="No image">
                </td>
                <td style="color:#FFFFFF" th:text="${material.titulo}"></td>
                <td style="color:#FFFFFF" th:text="${material.editorial}"></td>
                <td>
                    <div style="color:#91c8f6">
                        $
                        <span th:text="${material.precio}"></span>
                    </div>
                </td>
                <td>
                   <div th:if="${alumno.yaCompre(material)}">
                       <span style="color:#ABE2AB"><b>Adquirido</b></span>
                   </div>
                    <div th:unless="${alumno.yaCompre(material)}">
                        <form th:action="@{/pedirArticulo/__${material.IdMaterial}__}" th:object="${material}" method="post">
                            <span style="color:#FABD64"
                                  th:if="${pedido.tieneSolicitado(material)}"><b>Pendiente de pago</b></span>
                            <button th:unless="${pedido.tieneSolicitado(material)}"
                               id="_idBuy" type="submit" value="Submit" class="button btn btn-labeled btn-info">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>

                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>