<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body th:object="${alumno}"
      style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<script type="text/javascript" src="../js/pago.js"></script>
<div class="page-header">
    <div th:replace="layouts/header :: headerBody"/>
    <h3 style="color:#BFBFBF; margin:10px"> Completar datos de pago</h3>
    <h5 style="color:#BFBFBF; margin:10px"> Orden # <span th:text="${pedido.nroPedido}"></span></h5>
    <h5 style="color:#BFBFBF; margin:10px"> Estado pedido: <span th:text="${pedido.getEstado()}"></span></h5>
    <h5 style="color:#BFBFBF; margin:10px"> Creado el: <span th:text="${pedido.getFechaCreacionFormat()}"></span></h5>
    <h5 style="color:#BFBFBF; margin:10px" id="_totalId"> Total: $<span th:text="${pedido.getTotal()}"></span></h5>
    <h5 id="_totalConDtoId" style="display:none;color:##BFBFBF; margin:10px"> Total con descuento: <span
            th:text="${pedido.getTotalConDescuento()}"></span>
        <span>(30% OFF)</span></h5>
</div>
<hr style="background-color:#BFBFBF">
<!-- Mensajes de resultados -->
<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
<div th:if="${error == null}" style="margin-left:48px;color:#FFFFFF" th:each="tarjeta : *{tarjetasRegistradas}">
    <form th:object="${pedido}" th:action="@{/pago/__${tarjeta.getNroTarjeta()}__}" method="post">
        <div class="form-group">
            <h6>Seleccioná la tarjeta de crédito</h6>
            <div>
                <label for="_idNroTarjeta" class="col-form-label"></label>
                <select id="_idNroTarjeta" class="form-select" style="width:400px">
                    <option>
                        <span th:text="${tarjeta.getNroTarjeta()}" style="margin-right:10px"></span>
                    </option>
                </select>
            </div>
            <div>
                <br>
                <label for="_idEntidadB"><b>Banco:</b></label>
                <span th:text="${tarjeta.getEntidadBancariaDesc()}" style="margin-right:10px" id="_idEntidadB"></span>
            </div>
            <div>
                <br>
                <label for="_idSaldoTarjeta"><b>Saldo actual:</b> $</label>
                <span id="_idSaldoTarjeta" th:text="${tarjeta.getSaldo()}">
                    </span>
            </div>
        </div>
        <div style="color:#FFFFFF" class="form-group">
            <h6><b>Seleccioná los créditos para obtener un descuento (opcional)</b></h6>
            <div th:if="${alumno.creditosDtoSuficientes()}" class="form-check">
                <input  id="_pagarConCredId" class="form-check-input" type="checkbox"
                       th:field="${pedido.pagoConCreditos}"
                       th:checked="${pedido.pagoConCreditos}">
                <label class="form-check-label" for="_pagarConCredId">
                    Créditos a utilizarse en esta compra:
                    <span id="_importeCreditosAGastarId">400</span>
                    de
                    <span th:text="${alumno.creditos}"/>
                </label>
            </div>
            <div th:unless="${alumno.creditosDtoSuficientes()}">
                <span>Debes tener al menos 400 créditos para obtener un descuento sobre la compra.</span>
            </div>
        </div>
        <button id="_buttonSubmitPagoId" th:disabled="${pedido.getTotal() > tarjeta.getSaldo()}"
                style="width:180px" data-whatever="@mdo"
                type="submit" value="Submit" class="btn btn-primary">
            <span><i class="fa fa-money-bill"></i></span>
            Pagar
        </button>
        <a th:href="@{/cancelarPago}" style="width:180px" data-whatever="@mdo" type="button"
           class="btn btn-danger">
            <span><i class="fa fa-times"></i></span>
            Cancelar pago
        </a>
    </form>
</div>

</body>
</html>