<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body th:object="${pedido}"
      style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<div class="page-header">
    <div th:replace="layouts/header :: headerBody"/>
    <h3 style="color:#BFBFBF; margin:10px"> Detalle del pedido # <span th:text="${pedido.nroPedido}"></span></h3>
    <h5 style="color:#BFBFBF; margin:10px"> Estado pedido: <span th:text="${pedido.getEstado()}"></span></h5>
    <h5 style="color:#BFBFBF; margin:10px"> Creado el: <span th:text="${pedido.getFechaCreacionFormat()}"></span></h5>
    <h5 style="color:#BFBFBF; margin:10px"> Total: $<span th:text="${pedido.getTotal()}"></span></h5>
</div>
<table class="table">
    <thead>
    <tr style="color:#BFBFBF">
        <th scope="col">Código</th>
        <th scope="col">Estado</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr style="color:#FFFFFF" th:if="*{articulosSolicitados.empty}">
        <td colspan="2">El pedido esta vacío.</td>
    </tr>
    <tr style="color:#FFFFFF" th:each="articulo : *{articulosSolicitados}">
        <td th:text="${articulo.getIdMaterial()}"></td>
        <td th:text="${articulo.getEstadoDesc()}"></td>
        <td>
            <div>
                $
                <span th:text="${articulo.getPrecioVenta()}"></span>
            </div>
        </td>
        <td>
            <form th:action="@{/cancelarArticulo/__${articulo.getIdMaterial()}__}" th:object="${articulo}" method="post">
                <button id="_idCancelar" type="submit" value="Submit" class="btn btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<!-- Footer -->
<footer th:if="*{!articulosSolicitados.empty}" class="footer page-footer font-small special-color-dark pt-4" th:fragment="footer">
    <!-- Footer Elements -->
    <div class="container">
        <!--Grid row-->
        <div class="row" style="float:right">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <form th:action="@{/cancelarPedido}" method="post">
                    <button id="_idButtonCancelarPedido" style="width:180px" data-whatever="@mdo" type="submit"
                            value="Submit" class="btn btn-danger">
                        <span><i class="fa fa-times"></i></span>
                        Cancelar pedido
                    </button>
                </form>
            </div>
            <div class="col-md-6 mb-4">
                <form th:action="@{/completarDatosPago}" method="get">
                    <button id="_idButtonComprar" style="width:180px" data-whatever="@mdo"
                            type="submit" value="Submit" class="btn btn-primary">
                        <span><i class="fa fa-money-bill"></i></span>
                        Comprar
                    </button>
                </form>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Footer Elements -->
</footer>
</body>
</html>