<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<style src="../css/styles.css">
</style>
<div class="page-header"
     style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDeOHrmimNM9DjdMIWmFFb6gTyLUq9ut2zbkFe6A-C3Aw6o4brp-38F9nNBGcBylWK1zg&usqp=CAU');">
    <div th:replace="layouts/header :: headerBody"/>
    <h5> Nro. de tarea: <span th:text="${tarea.nroTarea}"></span></h5>
    <h5> Consigna: <span th:text="${tarea.consigna}"></span></h5>
    <h5> Fecha de entrega: <span th:text="${tarea.getFechaEntrega()}"></span></h5>
</div>
<span>
    <h3>Asignaciones a alumnos</h3>
</span>
<div class="table-responsive">
    <table class="table" th:each="asignacionTarea : ${asignaciones}">
        <thead>
        <tr>
            <th>Alumno</th>
            <th>Fecha asignación</th>
            <th>Fecha cierre</th>
            <th>Fecha calificación</th>
            <th>Estado</th>
            <th>Calificación</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${asignaciones.empty}">
            <td colspan="2">La tarea no posee alumnos asignados.</td>
        </tr>
        <tr>
            <th><span  th:text="${asignacionTarea.getAlumno()}"></span></th>
            <td><span th:text="${asignacionTarea.getFechaAsignacion()}"></span></td>
            <td><span th:text="${asignacionTarea.getFechaCierre()}? ${asignacionTarea.getFechaCierre()} : 'No asignada'"></span></td>
            <td><span th:text="${asignacionTarea.getFechaCalificacion()} ? ${asignacionTarea.getFechaCalificacion()} : 'No asignada'"></span></td>
            <td><span th:text="${asignacionTarea.estado}"></span></td>
            <td><span th:text="${asignacionTarea.getCalificacion()} ? ${asignacionTarea.getCalificacion()} : 'Sin calificar'"></span></td>
            <td>
                <a id="_idSeeAsignacionDetails"
                   th:href="@{/asignacionTarea/__${tarea.nroTarea}__}" type="button"
                   class="button btn btn-labeled btn-info">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
            <td>
                <div th:if="${asignacionTarea.estaVencidaPendiente()}" style="width:135px;">
                    <a id="_idCerrarAsignacionTarea"
                       th:href="@{/tareas/cerrarTarea/__${tarea.nroTarea}__/__${asignacionTarea.getAlumno()}__}" type="button"
                       class="btn btn-secondary" >
                        Cerrar
                    </a>
                </div>
                <form th:object="${asignacionAux}" method="post"
                      th:action="@{/tareas/calificar/__${tarea.nroTarea}__/__${asignacionTarea.getAlumno()}__}"
                      th:if="${asignacionTarea.estaCerradaPendiente()}">
                    <select th:field="*{calificacion}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <button id="_idButtonCalificarAsignacion" type="submit"
                            value="Submit" class="btn btn-primary">
                        Calificar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>