<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<script type="text/javascript" src="../../js/tarea.js">
</script>
<div class="page-header">
    <div th:replace="layouts/header :: headerBody"/>
    <h3 style="margin:10px;color:#E5E5E5;">Detalle de tarea #<span th:text="${asignacion.getNroTarea()}"></span></h3>
    <h5 style="margin:10px;color:#E5E5E5;"> Consigna: <span th:text="${consigna}"></span></h5>
    <h5 style="margin:10px;color:#E5E5E5;"> Fecha de entrega: <span th:text="${asignacion.getFechaLimiteFormat()}"></span></h5>
    <h5 style="margin:10px;color:#E5E5E5;"> Estado: <span th:text="${asignacion.getEstadoDesc()}"></span></h5>
    <h5 style="margin:10px;color:#E5E5E5;"> Calificación: <span th:text="${asignacion.calificacion} ? ${asignacion.calificacion} : 'Sin calificar'"></span></h5>
</div>
<hr style="background-color:#E5E5E5;">
<div style="color:#FFFFFF;margin:10px" th:if="${!asignacion.esResoluble() and tipoUsuario == 'ALUMNO'}">
    <h5><b>Mi respuesta:</b>
        <span th:text="${asignacion.respuesta}? ${asignacion.respuesta} : 'No resuelta'"></span>
    </h5>
</div>
<div style="color:#FFFFFF;" th:if="${tipoUsuario == 'DOCENTE'}">
    <h5><b>Respuesta del alumno:</b>
        <span th:text="${asignacion.respuesta}? ${asignacion.respuesta} : 'No resuelta'"></span>
    </h5>
</div>
<div th:if="${asignacion.esResoluble() and tipoUsuario == 'ALUMNO'}" style="padding-left:30px">
    <form action="#" style="width:400px" th:action="@{/tareas/resolver/__${asignacion.getNroTarea()}__}"
          th:object="${asignacion}"
          method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="_idRespuestaTarea" style="color:#FFFFFF" class="col-form-label"><b>Respuesta</b></label>
                <textarea id="_idRespuestaTarea" th:field="*{respuesta}" class="form-control rounded-0" rows="3">
                </textarea>
            </div>
        </div>
        <button  type="submit" value="Submit" class="btn btn-primary">Resolver</button>
        <button id="_idButtonLimpiarRespuesta" type="button" class="btn btn-secondary" data-dismiss="modal">
            Limpiar
        </button>
    </form>
</div>
</body>
</html>