<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<script type="text/javascript" src="../../js/tarea.js">
</script>
<div class="page-header"
     style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDeOHrmimNM9DjdMIWmFFb6gTyLUq9ut2zbkFe6A-C3Aw6o4brp-38F9nNBGcBylWK1zg&usqp=CAU');">
    <div th:replace="layouts/header :: headerBody"/>
    <h5> Nro. de tarea: <span th:text="${asignacion.getNroTarea()}"></span></h5>
    <h5> Consigna: <span th:text="${consigna}"></span></h5>
    <h5> Fecha de entrega: <span th:text="${asignacion.getFechaLimite()}"></span></h5>
    <h5> Estado: <span th:text="${asignacion.estado}"></span></h5>
</div>
<div th:if="${!asignacion.esResoluble()}">
    <h5>Mi respuesta:
        <span th:text="${asignacion.respuesta}? ${asignacion.respuesta} : 'No resuelta'"></span>
    </h5>
</div>
<div th:if="${asignacion.esResoluble()}" style="padding-left:30px">
    <form action="#" style="width:400px" th:action="@{/tareas/resolver/__${asignacion.getNroTarea()}__}"
          th:object="${asignacion}"
          method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="_idRespuestaTarea" class="col-form-label">Respuesta</label>
                <textarea id="_idRespuestaTarea" th:field="*{respuesta}" class="form-control rounded-0" rows="3">
                </textarea>
            </div>
        </div>
        <button  type="submit" value="Submit" class="btn btn-primary">Resolver</button>
        <button id="_idButtonLimpiarRespuesta" type="button" class="btn btn-secondary" data-dismiss="modal">
            Limpiar
        </button>
    </form>
</div>
</body>
</html>