<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/header :: headerHead"></head>
<body style="background-image: url('https://papers.co/wallpaper/papers.co-sp14-blur-gradation-space-29-wallpaper.jpg');">
<style src="../css/styles.css">
</style>
<div th:replace="layouts/header :: headerBody"/>
<span th:if="${docente != null}">
    <h3>Mis tareas</h3>
</span>
<!-- Docente -->
<div th:if="${docente != null}" th:object="${docente}">
    <ul th:each="curso : ${docente.getCursos()}" class="list-group">
        <li style="list-style-type: none;">
            <h5>
                Curso:
                <span th:text="${curso.denominacion}"></span>
            </h5>
            <h5>Tareas asignadas</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nro. Tarea</th>
                        <th>Consigna</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de entrega</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${curso.tareasAsignadas.empty}">
                        <td colspan="2">Aún no se creó ninguna tarea.</td>
                    </tr>
                    <tr th:each="tarea : ${curso.tareasAsignadas}">
                        <th><span th:text="${tarea.nroTarea}"></span></th>
                        <td><span th:text="${tarea.consigna}"></span></td>
                        <td><span th:text="${tarea.getFechaCreacion()}"></span></td>
                        <td><span th:text="${tarea.getFechaEntrega()}"></span></td>
                        <td>
                            <a id="_idSeeTareaDetails" th:href="@{/tareas/__${tarea.nroTarea}__}" type="button"
                               class="button btn btn-labeled btn-info"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li><br>
    </ul>
</div>

<!-- Alumno -->
<div th:if="${alumno != null}" class="table-responsive">
   <span>
    <h3>Tareas asignadas</h3>
</span>
    <div class="table-responsive">
        <table class="table" th:each="asignacionTarea : ${tareas}">
            <thead>
            <tr>
                <th>Nro. de tarea</th>
                <th>Fecha asignación</th>
                <th>Fecha limite</th>
                <th>Estado</th>
                <th>Calificación</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${tareas.empty}">
                <td colspan="2">No hay tareas asignadas.</td>
            </tr>
            <tr>
                <th><span  th:text="${asignacionTarea.getNroTarea()}"></span></th>
                <td><span th:text="${asignacionTarea.getFechaAsignacion()}"></span></td>
                <td><span th:text="${asignacionTarea.getFechaLimite()}"></span></td>
                <td><span th:text="${asignacionTarea.estado}"></span></td>
                <td><span th:text="${asignacionTarea.getCalificacion()} ? ${asignacionTarea.getCalificacion()} : 'Sin calificar'"></span></td>
                <td>
                    <a id="_idSeeAsignacionDetails"
                       th:href="@{/tareas/verTareaAsignada/__${asignacionTarea.getNroTarea()}__}" type="button"
                       class="button btn btn-labeled btn-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>